<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [70]:
import numpy as np
import pandas as pd
from math import pow

Считываем данные из CSV-файла в объект pandas DataFrame.

In [71]:
df = pd.read_csv('ml5/train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [72]:
print(df.shape[0])
print(df.info())

df.head()

70000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 12 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(11)
memory usage: 6.9 MB
None

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [73]:
# Ваш код здесь

first = df[df['gender'] == 1]['height'].mean() 
second = df[df['gender'] == 2]['height'].mean()
print(first, second)

first_count = df[df['gender'] == 1]['height'].count()
second_count = df[df['gender'] == 2]['height'].count()
print('Answer:', '(1 - women:',first_count, '2 - men:', second_count, ')')

161.35561168460356 169.94789538210054
Answer: (1 - women: 45530 2 - men: 24470 )

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [74]:
# Ваш код здесь
# pd.crosstab(df['gender'], df['alco']) # метод pandas поэтому pd 

woman_alco = df[df['gender'] == 1]['alco'].mean()
print('woman alco: ', woman_alco)
man_alco = df[df['gender'] == 2]['alco'].mean()
print('man alco: ', man_alco)

if man_alco > woman_alco:
    print('answer: women')
else:
    print('answer: men')

woman alco:  0.02549967054689216
man alco:  0.10637515324887617
answer: women

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [75]:
# Ваш код здесь

man_smoke = df[df['gender'] == 2]['smoke'].mean()
print(man_smoke)
man_percent = round(man_smoke*100, 2)
print(man_percent)

woman_smoke = df[df['gender'] == 1]['smoke'].mean()
print(woman_smoke)
woman_percent = round(woman_smoke*100, 2)
print(woman_percent)

answer = round(man_percent / woman_percent)
print('answer: ', answer)

0.21888026154474868
21.89
0.017856358444981332
1.79
answer:  12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [76]:
# Ваш код здесь

# не курящие 
ns_days = df[df['smoke'] == 0]['age'].values # изначально возраст в днях
l = len(ns_days)
print(ns_days[0])
ns_years = [(ns_days[i] / 365) for i in range(l)] # возраст в годах
print(ns_years[0])
ns_months = [ns_years[i] * 12 for i in range(l)] # возраст в месяцaх
print(ns_months[0], '\n')

# создаем series из списка возрастов в месяцах чтобы можно было применить метод median()
no_smoke_series = pd.Series(ns_months)

# курящие
days = df[df['smoke'] == 1]['age'].values # изначально возраст в днях
l = len(days)
print(days[0])
years = [(days[i] / 365) for i in range(l)] # возраст в годах
print(years[0])
months = [years[i] * 12 for i in range(l)] # возраст в месяцaх
print(months[0], '\n')

# создаем series из списка возрастов в месяцах чтобы можно было применить метод median()
smoke_series = pd.Series(months)

# создал объект dataframe для наглядности по двум объектам series
frame = pd.DataFrame({'no smoke age in month': no_smoke_series, 'smoke age in month': smoke_series}) 
#frame.head()

# посчитаем медианы 

no_smoke_median = no_smoke_series.median()
print('no_smoke_median: ', no_smoke_median)

smoke_median = smoke_series.median()
print('smoke_median: ', smoke_median, '\n')

print('answer: ', round(no_smoke_median - smoke_median))
frame.drop(0).head()

18393
50.391780821917806
604.7013698630137

14532
39.81369863013698
477.7643835616438

no_smoke_median:  648.3945205479451
smoke_median:  628.7671232876712

answer:  20

   no smoke age in month  smoke age in month
1             665.030137          715.232877
2             619.956164          768.920548
3             579.386301          522.772603
4             574.487671          671.704110
5             720.460274          726.542466

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [90]:
# Ваш код здесь

#df.drop('age years', axis=1) # удаляем age_years, который был изначально
#df.drop('years', axis=1)
l = len(df)
days = df['age'].values
age_years = [days[i] / 365 for i in range(l)]
#df.insert(loc=len(df.columns), column='age years', value=age_years) # добавление нового столбца в dataframe
df.head()
df['first_group'] = ((df['ap_hi'] < 120) & (df['cholesterol'] == 1)).astype(int)
df['second_group'] = ((160 <= df['ap_hi']) & (df['ap_hi'] < 180) & (df['cholesterol'] == 3)).astype(int)

first_percent =df[df['first_group'] == 1]['cardio'].mean()
second_percent = df[df['second_group'] == 1]['cardio'].mean()

answer = round(second_percent / first_percent)
print('answer: ', answer)

answer:  4.0

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [78]:
# Ваш код здесь

# создание признаков 
l = df.shape[0] # количество строк
print(l)
print(pow((df['height'][0] / 100),2))
print((df['weight'][0] / pow((df['height'][0] / 100),2)))

weight = df['weight'].values
height = df['height'].values
bmi = [weight[i] / pow((height[i] / 100),2) for i in range(l)]
df.insert(loc=len(df.columns), column='BMI', value=bmi)

# Медианный BMI по выборке превышает норму - верно

if df['BMI'].median() > 25:
    print('\ntrue')
print('--------------------------')


# У женщин в среднем BMI ниже, чем у мужчин

if df[df['gender'] == 1]['BMI'].mean() < df[df['gender'] == 2]['BMI'].mean():
    print('true')
else: 
    print('false')
    
print('--------------------------')

# У здоровых в среднем BMI выше, чем у больных

if df[df['cardio'] == 0]['BMI'].mean() > df[df['cardio'] == 1]['BMI'].mean():
    print('true')
else:
    print('false')
print('--------------------------')

# В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин
print('true\n')
print(df[(df['cardio'] == 0) & (df['alco'] == 0) & (df['gender'] == 1)]['BMI'].mean()) # женщины 
print(df[(df['cardio'] == 0) & (df['alco'] == 0) & (df['gender'] == 2)]['BMI'].mean()) # мужчины


df.head()

70000
2.8223999999999996
21.9671201814059

true
--------------------------
false
--------------------------
false
--------------------------
true

26.845406594131507
25.87263807546017

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.011177

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [88]:
# Ваш код здесь
l = df.shape[0]
print(l)


h = df['height'] # берем столбец роста
h_25 = h.quantile(0.025)
h_975 = h.quantile(0.975)

w = df['weight']
w_25 = w.quantile(0.025)
w_975 = w.quantile(0.975)

# очистка по давлению
clean_frame = df.drop(df[df['ap_lo'] > df['ap_hi']].index)

# очистка по росту
clean_frame = clean_frame.drop(clean_frame[clean_frame['height'] < h_25].index) 
clean_frame = clean_frame.drop(clean_frame[clean_frame['height'] > h_975].index)

# очистка по весу
clean_frame = clean_frame.drop(clean_frame[clean_frame['weight'] < w_25].index) 
clean_frame = clean_frame.drop(clean_frame[clean_frame['weight'] > w_975].index)

answer = round((df.shape[0] - clean_frame.shape[0]) / (df.shape[0] * 0.01))
print('answer: ', answer)

clean_frame.info()

70000
answer:  10
<class 'pandas.core.frame.DataFrame'>
Int64Index: 63259 entries, 0 to 99999
Data columns (total 13 columns):
age            63259 non-null int64
gender         63259 non-null int64
height         63259 non-null int64
weight         63259 non-null float64
ap_hi          63259 non-null int64
ap_lo          63259 non-null int64
cholesterol    63259 non-null int64
gluc           63259 non-null int64
smoke          63259 non-null int64
alco           63259 non-null int64
active         63259 non-null int64
cardio         63259 non-null int64
BMI            63259 non-null float64
dtypes: float64(2), int64(11)
memory usage: 6.8 MB